In [8]:
import pandas as pd
import numpy as np
import seaborn as sns

# Y Axis is the dependent Variable

In [9]:
path=r"https://drive.google.com/uc?export=download&id=1xxDtrZKfuWQfl-6KA9XEd_eatitNPnkB"
data=pd.read_csv(path)

In [10]:
data

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.00,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.00,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.00,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.00,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.00,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7115,3.0,2.0,325.00,2900.0,3,11206.896552,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7116,3.0,1.0,84.83,1780.0,3,4765.730337,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7117,2.0,1.0,48.00,880.0,2,5454.545455,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
7118,2.0,1.0,55.00,1000.0,2,5500.000000,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7119,2.0,1.0,78.00,1400.0,3,5571.428571,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
x=data.drop('price', axis=1)

In [12]:
x

,bath,balcony,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,location_Whitefield,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,1672.0,3,8971.291866,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,1750.0,3,8514.285714,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,1750.0,3,8571.428571,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,1250.0,2,3200.000000,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,1200.0,2,6916.666667,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7115,3.0,2.0,2900.0,3,11206.896552,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7116,3.0,1.0,1780.0,3,4765.730337,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7117,2.0,1.0,880.0,2,5454.545455,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
7118,2.0,1.0,1000.0,2,5500.000000,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7119,2.0,1.0,1400.0,3,5571.428571,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
y=data['price']

In [14]:
y

0       150.00
1       149.00
2       150.00
3        40.00
4        83.00
         ...
7115    325.00
7116     84.83
7117     48.00
7118     55.00
7119     78.00
Name: price, Length: 7120, dtype: float64

In [16]:
from sklearn.model_selection import train_test_split

In [34]:
x_train, x_test,y_train, y_test=train_test_split(x, y, test_size=0.2, random_state=1)

In [35]:
print('Shape of X Train=', x_train.shape)
print('Shape of x test=',x_test.shape)
print('Shape of y train=', y_train.shape)
print('Shape of y test=', y_test.shape)

Shape of X Train= (5696, 107)
Shape of x test= (1424, 107)
Shape of y train= (5696,)
Shape of y test= (1424,)

In [36]:
y_train

2209     95.45
5586     46.00
101      60.00
3078     68.00
2296    275.00
         ...
905     100.00
5192     59.50
3980    125.00
235      80.00
5157    120.00
Name: price, Length: 5696, dtype: float64

In [26]:
y_test

7046     92.00
3761     25.53
2439     56.00
4695     57.95
6757     55.00
         ...
1080     46.00
2803     48.00
5867     22.80
2681    124.00
5357    112.00
Name: price, Length: 1424, dtype: float64

In [37]:
x_train

,bath,balcony,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,location_Whitefield,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
2209,3.0,1.584376,1305.00,3,7314.176245,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5586,2.0,0.000000,1200.00,2,3833.333333,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
101,2.0,2.000000,1075.00,2,5581.395349,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3078,2.0,3.000000,1200.00,2,5666.666667,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2296,3.0,2.000000,2023.71,3,13588.903548,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
905,3.0,2.000000,1893.00,3,5282.620180,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5192,2.0,2.000000,1220.00,2,4877.049180,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3980,7.0,2.000000,2800.00,7,4464.285714,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
235,3.0,1.000000,1800.00,3,4444.444444,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5157,2.0,1.000000,1200.00,2,10000.000000,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
y_train

2209     95.45
5586     46.00
101      60.00
3078     68.00
2296    275.00
         ...
905     100.00
5192     59.50
3980    125.00
235      80.00
5157    120.00
Name: price, Length: 5696, dtype: float64

In [40]:
y_test

6711     70.0
823      58.4
3500     25.0
1537     36.0
513      38.3
        ...
4008     58.0
1564     58.4
6803     50.0
5390    399.0
3315    314.5
Name: price, Length: 1424, dtype: float64